<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Iesi.Collections" version="3.2.0.4000" requireReinstallation="True" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" requireReinstallation="True" />
  <package id="Microsoft.Web.Xdt" version="1.0.0" targetFramework="net40" />
  <package id="NHibernate" version="3.3.0.4000" requireReinstallation="True" />
  <package id="Ninject" version="3.0.0.15" requireReinstallation="True" />
  <package id="Ninject.Web.Common" version="3.0.0.7" requireReinstallation="True" />
  <package id="WebActivator" version="1.5" requireReinstallation="True" />
</packages>