@model NoiseCalculator.UI.Web.Areas.Admin.ViewModels.Generic.GenericTranslationViewModel

<form id="adminTranslationForm" action="@Url.Action("Create")" method="POST" style="margin-top: 10px;">
    @Html.Partial("_GenericTranslationForm", Model)
</form>