@using NoiseCalculator.UI.Web.Areas.Admin.Resources
@model NoiseCalculator.UI.Web.Areas.Admin.ViewModels.Generic.GenericTranslationViewModel

<form id="adminTranslationForm" action="@Url.Action("Edit")" method="POST" title="@AdminResources.DialogTitleEditGenericTranslation">
    @Html.Partial("_GenericTranslationForm", Model)
</form>