@model NoiseCalculator.UI.Web.Areas.Admin.Models.Generic.GenericTranslationViewModel

<form id="adminTranslationForm" action="@Model.FormActionUrl" method="POST" style="margin-top: 10px;">
    @Html.Partial("_GenericTranslationForm", Model)
</form>