@model NoiseCalculator.UI.Web.Areas.Admin.Models.GenericTranslationViewModel

<form id="adminTranslationForm" action="@Url.Action("EditTranslation")" method="POST" style="margin-top: 10px;">
    @Html.Partial("_GenericTranslationForm", @Model)
</form>