@using NoiseCalculator.UI.Web.Areas.Admin.Resources
@using NoiseCalculator.UI.Web.Areas.Admin.ViewModels.Generic
@model IEnumerable<GenericDefinitionViewModel>

<table id="itemList">
    <thead>
        <tr>
            <td></td>
            <th>@AdminResources.GenericDefinitionColumnDefinitionName</th>
            <td></td>
        </tr>
    </thead>
    
    <tbody>
    @foreach (GenericDefinitionViewModel genericDefinitionViewModel in Model)
    {
        @Html.Partial("_GenericDefinitionTableRow", genericDefinitionViewModel)
    }
    </tbody>
</table>