@using NoiseCalculator.UI.Web.Areas.Admin.Resources
@model NoiseCalculator.UI.Web.Areas.Admin.ViewModels.Generic.GenericTranslationViewModel
<tr id="trans@(Model.Id)" class="translation">
    <td class="editButton">@AdminResources.ColumnEdit</td>
    <td>@Model.SelectedLanguage</td>
    <td>@Model.Title</td>
    <td class="removeButton">@AdminResources.ColumnRemove</td>
</tr>