@model NoiseCalculator.UI.Web.Areas.Admin.Models.Generic.GenericTranslationViewModel
<tr id="trans@(Model.Id)" class="translation">
    <td class="editButton">Edit</td>
    <td>@Model.Title</td>
    <td>@Model.SelectedLanguage</td>
    <td class="removeButton">Remove</td>
</tr>