@model NoiseCalculator.UI.Web.Areas.Admin.Models.Generic.GenericDefinitionViewModel
        <tr id="@Model.Id" class="definition">
            <td class="editButton">Edit</td>
            <td>@Model.SystemName</td>
            <td class="removeButton">Remove</td>
        </tr>
