@model NoiseCalculator.UI.Web.Areas.Admin.Models.HelicopterTask.HelicopterTaskViewModel

<form id="adminForm" action="@Url.Action("Create")" method="POST" style="margin-top: 10px;">
    @Html.Partial("_HelicopterTaskForm", Model)
</form>