@using NoiseCalculator.UI.Web.Areas.Admin.Resources
@model NoiseCalculator.UI.Web.Areas.Admin.ViewModels.HelicopterTask.HelicopterTaskViewModel

<form id="adminForm" action="@Url.Action("Edit")" method="POST" title="@AdminResources.DialogTitleEditHelicopterTask">
    @Html.Partial("_HelicopterTaskForm", Model)
</form>