@using NoiseCalculator.UI.Web.Areas.Admin.Resources
@using NoiseCalculator.UI.Web.Areas.Admin.ViewModels.HelicopterTask
@model IEnumerable<HelicopterTaskListItemViewModel>

<table id="itemList">
    <thead>
        <tr>
            <td></td>
            <th>@AdminResources.HelicopterTaskColumnHelicopter</th>
            <th>@AdminResources.HelicopterTaskColumnTask</th> 
            <th>@AdminResources.HelicopterTaskColumnNoiseLevel</th> 
            <td></td>
        </tr>
    </thead>
    
    <tbody>
    @foreach (HelicopterTaskListItemViewModel helicopterTaskViewModel in Model)
    {
        @Html.Partial("_HelicopterTaskTableRow", helicopterTaskViewModel)
    }
    </tbody>
</table>