@using NoiseCalculator.UI.Web.Areas.Admin.Models.HelicopterTask
@model IEnumerable<HelicopterTaskListItemViewModel>

<table id="itemList">
    <thead>
        <tr>
            <td></td>
            <th>Helicopter</th>
            <th>Noise Protection Definition</th>
            <th>Work Interval</th>
            <th>Percentage</th> 
            <td></td>
        </tr>
    </thead>
    
    <tbody>
    @foreach (HelicopterTaskListItemViewModel helicopterTaskViewModel in Model)
    {
        @Html.Partial("_HelicopterTaskTableRow", helicopterTaskViewModel)
    }
    </tbody>
</table>