@{
    ViewBag.Title = "Login Page";
    ViewBag.FormAction = "SignIn";
}
@{
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <p>
                If you are connecting from Statoil domain, you may sign-in using the Login button.
            </p>
        </div>
    </section>
}

@using (Html.BeginForm((string)ViewBag.FormAction, "Login", new { ReturnUrl = "http://noisecalculator.azurewebsites.net/" }))
{
    @Html.ValidationSummary(true, "Log in was unsuccessful. Please correct the errors and try again.")
    <fieldset>
        <legend>Log in Form</legend>
        <input type="submit" value="Log in" />
    </fieldset>
}