@using NoiseCalculator.UI.Web.Resources
@model NoiseCalculator.UI.Web.ViewModels.RegularViewModel

<form method="POST" action="@Url.Action("AddTaskRotation")" id="editForm" >
    @Html.Partial("_TaskFormRegular", Model)
    
    <div id="editFormButtons">
        <input id="submitButton" type="button" value="@TaskResources.TaskFormButtonSubmitAdd" class="clear" />
        <input id="taskFormCloseButton" type="button" value="@TaskResources.TaskFormButtonClose" style="margin-left: 100px;" />
    </div>
</form>