@using NoiseCalculator.UI.Web.ViewModels
@model ValidationErrorSummaryViewModel

<div>
    <span id="validationDialogTitle" style="display: none;">Errors found in submitted data</span>

    <ul>
        @foreach(string validationError in Model.ValidationErrors)
        {
            <li>@validationError</li>
        }
    </ul>

    <input type="button" id="closeErrorDialog" value="Close" style="margin-top: 10px;" />
</div>