@using NoiseCalculator.UI.Web.Resources
@using NoiseCalculator.UI.Web.ViewModels
@model ValidationErrorSummaryViewModel

<div>
    <input id="validationDialogTitle" type="hidden" value="@TaskResources.ValidationErrorSummaryTitle" />

    <ul>
        @foreach(string validationError in Model.ValidationErrors)
        {
            <li>@validationError</li>
        }
    </ul>

    <input type="button" id="closeErrorDialog" value="@TaskResources.ValidationErrorSummaryClose" style="margin-top: 10px;" />
</div>