@using NoiseCalculator.UI.Web.ViewModels
@model ValidationErrorSummaryViewModel

<div>
    <h2>ValidationErrors existed in submitted data</h2>

    <ul>
        @foreach(string validationError in Model.ValidationErrors)
        {
            <li>@validationError</li>
        }
    </ul>

    <input type="button" id="closeErrorDialog" value="Close" style="margin-top: 10px;" />
</div>