@using NoiseCalculator.UI.Web.Areas.Admin.Resources
@model NoiseCalculator.UI.Web.Areas.Admin.ViewModels.RotationTask.RotationTaskViewModel

<form id="adminTranslationForm" action="@Url.Action("Create")" method="POST" title="@AdminResources.DialogTitleCreateRotationTask">
    @Html.Partial("_RotationTaskForm", Model)
</form>