@model NoiseCalculator.UI.Web.Areas.Admin.Models.RotationTask.RotationTaskViewModel

<form id="adminTranslationForm" action="@Url.Action("Create")" method="POST" style="margin-top: 10px;">
    @Html.Partial("_RotationTaskForm", Model)
</form>