@using NoiseCalculator.UI.Web.Areas.Admin.Resources
@using NoiseCalculator.UI.Web.Areas.Admin.ViewModels.RotationTask
@model IEnumerable<RotationTaskListItemViewModel>

<table id="itemList">
    <thead>
        <tr>
            <td></td>
            <th>@AdminResources.RotationTaskColumnTitle</th>
            <th>@AdminResources.RotationTaskColumnOperatorTask</th>
            <th>@AdminResources.RotationTaskColumnAssistantTask</th>
            <td></td>
        </tr>
    </thead>
    
    <tbody>
    @foreach (RotationTaskListItemViewModel rotationTaskViewModel in Model)
    {
        @Html.Partial("_RotationTaskTableRow", rotationTaskViewModel)
    }
    </tbody>
</table>