@model NoiseCalculator.UI.Web.Areas.Admin.Models.Task.TaskViewModel

<form id="adminTranslationForm" action="@Url.Action("EditTranslation")" method="POST" style="margin-top: 10px;">
    @Html.Partial("_TaskForm", Model)
</form>