@model NoiseCalculator.UI.Web.Areas.Admin.Models.Administrator.AdministratorListItemViewModel
        <tr id="@Model.Username" class="definition tr" style="height: 30px;">
            @*<td class="editButton">Edit</td>*@
            <td>@Model.Username</td>
            <td class="removeButton">Remove</td>
        </tr>
