@model NoiseCalculator.UI.Web.Areas.Admin.Models.Administrator.AdministratorViewModel
        
<p>
    <label for="Username" class="span80">Username</label>
    :
    <input id="Username" name="Username" type="text" value="@Model.Username" />
</p>

<p style="margin-top: 10px;">
    <button id="submitButton" class="button" style="margin-left: 95px;">
        <img src="@Url.Content("~/Content/disk.png")" class="buttonIcon" />
        Submit
    </button>
    
    <button id="closeButton" class="button" style="margin-left: 10px;">
        <img src="@Url.Content("~/Content/cancel.png")" class="buttonIcon" />
        Close
    </button>
</p>