@using NoiseCalculator.UI.Web.Areas.Admin.Resources
@using NoiseCalculator.UI.Web.Areas.Admin.ViewModels.Administrator
@model IEnumerable<AdministratorListItemViewModel>

<table id="itemList">
    <thead>
        <tr>
            <th>@AdminResources.AdminColumnLabelUsername</th>
            <td></td>
        </tr>
    </thead>
    
    <tbody>
    @foreach (AdministratorListItemViewModel administratorViewModel in Model)
    {
        @Html.Partial("_AdministratorTableRow", administratorViewModel)
    }
    </tbody>
</table>