@using NoiseCalculator.UI.Web.Areas.Admin.Resources
@model NoiseCalculator.UI.Web.Areas.Admin.ViewModels.Administrator.AdministratorListItemViewModel
        <tr id="@Model.Username" class="definition tr" style="height: 30px;">

            <td>---@Model.Username</td>
            <td class="removeButton">@AdminResources.ColumnRemove</td>
        </tr>
