@using NoiseCalculator.UI.Web.Areas.Admin.Resources
@using NoiseCalculator.UI.Web.Areas.Admin.ViewModels.TaskDefinition
@model IEnumerable<TaskDefinitionListItemViewModel>

<table id="itemList">
    <thead>
        <tr>
            <td></td>
            <th>@AdminResources.TaskDefinitionColumnDefinitionName</th>
            <th>@AdminResources.TaskDefinitionColumnRoleType</th>
            <td></td>
        </tr>
    </thead>
    
    <tbody>
    @foreach (TaskDefinitionListItemViewModel definitionViewModel in Model)
    {
        @Html.Partial("_TaskDefinitionTableRow", definitionViewModel)
    }
    </tbody>
</table>