@using NoiseCalculator.UI.Web.Resources
@model NoiseCalculator.UI.Web.ViewModels.HelideckViewModel

<form method="POST" action="@Url.Action("AddTaskHelideck")" id="editForm">
    @Html.Partial("_TaskFormHelideck", Model)
    
    <div id="editFormButtons">
        <input id="submitButton" type="button" value="@TaskResources.TaskFormButtonSubmitAdd" class="clear" />
        <input id="taskFormCloseButton" type="button" value="@TaskResources.TaskFormButtonClose" style="margin-left: 100px;" />
    </div>
</form>