* { /* Reset styles */
    margin: 0px;
    border: 0px;
    padding: 0px;
}

.contextMenu {
    margin-top: 5px;
    margin-left: 110px;
    margin-bottom: 5px;
    overflow: hidden;
}

    .contextMenu li {
        float: left;
        list-style: none;
        margin-right: 10px;
        border: solid 1px grey;
        background-color: darkgrey; 
    }

    .contextMenu li:hover {
        border: solid 1px lightgray;
    }

        .contextMenu li:hover a {
            color: white;
}

        .contextMenu li a{
            color: black;
            text-decoration: none;
            font-weight: bold;
            display: block;
            padding: 3px;
            padding-left: 5px;
            padding-right: 5px;
        }

table
{
    border: none;
    border-collapse: collapse;
}

    thead th {
        padding-left: 3px;
        padding-right: 3px;
        padding-top: 3px;
        padding-bottom: 1px;

        background-color: darkgrey;
        border: 1px solid black;
        font-weight: bold;
        cursor: default;
    }

tbody
{
    background-color: white;
}

    tbody td
    {
        border: 1px solid black;
        border-collapse: collapse;
        border-spacing: 0px;
        padding-left:5px; 
        padding-right: 5px;
        cursor: default;
    }

    tbody tr
    {
        height: 28px;
    }

    tbody tr:hover {
        background-color: lavender;
    }


#mainContent {
    padding: 10px;
}

#dialogDiv {
    display: none;
    font-size: 14px;
}

#translationDialogDiv {
    display: none;
    font-size: 14px;
}

#deleteConfirmDialog {
    display: none;
    font-size: 14px;
}

#itemList {
    margin-top: 10px;
}

.editButton
{
    margin-right: 5px;
    background-image: url("/Content/page_edit.png");
    background-position: 4px; 
    background-repeat: no-repeat; 
    padding-left: 25px;
}

.editButton:hover {
    cursor: pointer;
    text-decoration: underline;
}

.removeButton
{
    background-image: url("/Content/cancel.png");
    background-position: 4px; 
    background-repeat: no-repeat; 
    padding-left: 25px;
}

.removeButton:hover {
	cursor: pointer;
	text-decoration: underline;
}