/*----------------------------------------------------------
The base color for this template is #5c87b2. If you'd like
to use a different color start by replacing all instances of
#5c87b2 with your new color.
----------------------------------------------------------*/
body {
    font-size: 14px; 
    background-color: lightgray;
    padding: 0px; 
    margin: 0px;
    font-family: "Lucida Sans",
                 "Lucida Grande",
                  sans-serif;
}

/* PRIMARY LAYOUT ELEMENTS   
----------------------------------------------------------*/

/* you can specify a greater or lesser percentage for the 
page width. Or, you can specify an exact pixel width. */

.header {
    background-color: #333; 
    border-bottom: 2px solid black;
}

header h1, #header h1 { }

#main {
    display: inline-block;
    margin-left: 5px;
}

footer, 
#footer {
    margin-top: 50px;
    max-width: 1000px;
}

    #footer li
    {

        margin-bottom: 10px;
    }

/* FORM LAYOUT ELEMENTS   
----------------------------------------------------------*/

textarea {
    min-height: 75px;
}

input[type="text"], 
input[type="password"] {
    border: 1px solid #ccc;
    padding: 2px;
    font-size: 1.2em;
    color: #444;
    width: 200px;
}

select {
    border: 1px solid #ccc;
    padding: 2px;
    font-size: 1.2em;
    color: #444;
}

input[type="submit"] {
    font-size: 1.2em;
    padding: 5px;
}


/* MISC  
----------------------------------------------------------*/
.clear {
    clear: both;
}

.error {
    color: Red;
}

.ui-datepicker-trigger
{
    margin-left: 3px;
    vertical-align: middle;
    width: 20px;
    height: 20px;
}

#taskList
{
    min-height: 40px;
    min-width: 900px;
}

.task
{
    margin-left: 3px;
    margin-bottom: 10px;
    background-color: #333; 
    border: 3px solid white; 
    padding: 5px;
    color: white;
}

#tasklistHeading
{
    font-size: 28px;
    margin-bottom: 0px;
    margin-top: 5px;
}

.taskGrouping
{
    float: left; 
    color: White; 
    margin-left: 15px;
}

p
{
    padding: 0px;
    margin: 0px;
    margin-bottom: 5px;
}
    
.label-small60
{
    width: 60px; 
    display: inline-block;
}
    
.label-normal120
{
    width: 120px; 
    display: inline-block;
}

.label-130px
{
    width: 130px; 
    display: inline-block;
}

.label-140px
{
    width: 140px; 
    display: inline-block;
}


.taskListButton
{
    float: left;
    margin-left: 10px;
    font-weight: bold;
}

.taskListButton:hover
{
    cursor: pointer;
    color: #f8ed37
}

.button
{
    float: left;
    background-color: #333;
    border: 3px solid gray; 
    padding: 2px; 
    padding-left: 5px; 
    padding-right: 10px; 
    font-weight: bold; 
    color: White;
    vertical-align: middle;
}

.button:hover
{
    cursor: pointer;
    color: #f8ed37
}

.buttonIcon 
{
    width: 20px; 
    height: 20px; 
    display: inline; 
    vertical-align: middle;
    margin-right: 5px;
    border: none;
}

#taskFormCloseButton
{
    margin-left: 100px;
    margin-right: 10px;
}

#submitButton
{
    margin-left: 140px;
}

#confirmRemove
{    
    margin-left: 70px;
}

#cancelRemove
{
    margin-left: 200px;
}

/* ----- */
#confirmRemoveAll
{    
    margin-left: 15px;
}

#cancelRemoveAll
{
    margin-left: 30px;
}
/* ----- */

.taskIcon
{
    width: 24px; 
    height: 24px; 
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.span80
{
    display: inline-block; 
    width: 80px;
}

.span100
{
    display: inline-block; 
    width: 100px;
}

.span120
{
    display: inline-block; 
    width: 120px;
}

#editForm 
{
    border: 1px solid lightgray; 
    margin-top: 20px; 
    padding: 5px; 
    font-size: 14px;
}

#taskSelect
{
    width: 550px;
    display: block;
    border: 1px solid lightgray;
}

#useTask 
{
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}

#editFormButtons
{
    margin-top: 20px;
}

.helicopterDropDown 
{
    width: 250px;
}

#applicationTitle
{
    float: left;
    color: lightgray; 
    margin-top: 29px; 
    margin-left: 30px; 
    font-size: 26px;
}

#totalDailyPercentageDiv 
{
    float: right; 
    border: 3px solid white; 
    padding: 5px;
}

.noiseLevelNormal 
{
    background-color: greenyellow;
}

.noiseLevelWarning
{
    background-color: yellow; 
}

.noiseLevelCritical
{
    background-color: red; 
}

#totalDailyText 
{
    display:inline-block;
    font-weight: bold;
    max-width: 140px;
    margin-top: 3px;
    margin-right: 5px;
}

#totalDailyPercentage 
{
    margin-left: 5px; 
    font-size: 2em; 
    font-weight: bold;
}

.separatorDiv 
{
    height: 2px; 
    width: 95%; 
    background-color: grey; 
    margin-left: auto; 
    margin-right: auto; 
    margin-bottom: 20px;
}

#removeAllConfirmDialog {
    display: none;
    background-color: white;
}

.workTimeEchoSpan {
    margin-left: 3px; 
    margin-right: 3px; 
    height: 13px; 
    display: inline-block;
}

.rotationSubTaskDiv {
    width: 410px;
    border: solid 1px lightgray; 
    margin-top: 10px;
    margin-left: 105px; 
    padding: 5px; 
}