/*----------------------------------------------------------
The base color for this template is #5c87b2. If you'd like
to use a different color start by replacing all instances of
#5c87b2 with your new color.
----------------------------------------------------------*/
body {
    font-size: 14px; 
    background-color: lightgray;
    padding: 0px; 
    margin: 0px;
    font-family: "Lucida Sans",
                 "Lucida Grande",
                  sans-serif;
}

/* PRIMARY LAYOUT ELEMENTS   
----------------------------------------------------------*/

/* you can specify a greater or lesser percentage for the 
page width. Or, you can specify an exact pixel width. */
.page {
    /*width: 90%;
    margin-left: auto;
    margin-right: auto;*/
}

.header {
    background-color: #333; 
    border-bottom: 2px solid black;
}

header h1, #header h1 {
    /*font-weight: bold;
    padding: 5px 0;
    margin: 0;
    color: #fff;
    border: none;
    line-height: 2em;
    font-size: 32px !important;
    text-shadow: 1px 1px 2px #111;*/
}

#main {
    /*padding: 30px 30px 15px 30px;
    background-color: #fff;
    border-radius: 4px 0 0 0;
    -webkit-border-radius: 4px 0 0 0;
    -moz-border-radius: 4px 0 0 0;*/
    display: inline-block;
    margin-left: 5px;
}

footer, 
#footer {
    /*background-color: #fff;
    color: #999;
    padding: 10px 0;
    text-align: center;
    line-height: normal;
    margin: 0 0 30px 0;
    font-size: .9em;
    border-radius: 0 0 4px 4px;
    -webkit-border-radius: 0 0 4px 4px;
    -moz-border-radius: 0 0 4px 4px;*/
}

/* FORM LAYOUT ELEMENTS   
----------------------------------------------------------*/

fieldset {
    border: 1px solid #ddd;
    padding: 0 1.4em 1.4em 1.4em;
    margin: 0 0 1.5em 0;
}

legend {
    font-size: 1.2em;
    font-weight: bold;
}

textarea {
    min-height: 75px;
}

input[type="text"], 
input[type="password"] {
    border: 1px solid #ccc;
    padding: 2px;
    font-size: 1.2em;
    color: #444;
    width: 200px;
}

select {
    border: 1px solid #ccc;
    padding: 2px;
    font-size: 1.2em;
    color: #444;
}

input[type="submit"] {
    font-size: 1.2em;
    padding: 5px;
}


/* MISC  
----------------------------------------------------------*/
.clear {
    clear: both;
}

.error {
    color: Red;
}

nav, 
#menucontainer {
    /*margin-top: 40px;*/
}

div#title {
    /*display: block;
    float: left;
    text-align: left;*/
}

#logindisplay {
    /*font-size: 1.1em;
    display: block;
    text-align: right;
    margin: 10px;
    color: White;*/
}

#logindisplay a:link {
    /*color: white;
    text-decoration: underline;*/
}

#logindisplay a:visited {
    /*color: white;
    text-decoration: underline;*/
}

#logindisplay a:hover {
    /*color: white;
    text-decoration: none;*/
}

/* ----------------------------------------------------------*/
.task
{
    margin-left: 3px;
    margin-bottom: 10px;
    background-color: #333; 
    border: 3px solid white; 
    padding: 5px; 
}

#tasklistHeading 
{
    font-size: 20px;
    margin-left: 5px;
}

.taskGrouping
{
    float: left; 
    color: White; 
    margin-left: 15px;
}

p
{
    padding: 0px;
    margin: 0px;
    margin-bottom: 5px;
}
    
.label-small60
{
    width: 60px; 
    display: inline-block;
}
    
.label-normal120
{
    width: 120px; 
    display: inline-block;
}

.label-130px
{
    width: 130px; 
    display: inline-block;
}

.label-140px
{
    width: 140px; 
    display: inline-block;
}

/* ------------- */


.taskListButton
{
    float: left;
    margin-left: 10px;
    color: White; 
    font-weight: bold;
}

.taskListButton:hover
{
    cursor: pointer;
    color: #f8ed37
}

 
.emulatedTaskButton
{
    float: left;
    margin-left: 10px;
}

.emulatedTaskButton:hover
{
    cursor: pointer;
}
/* ------ */

.dialogButton
{
    float: left;
    background-color: #333;
    border: 3px solid grey; 
    padding: 2px; 
    padding-left: 5px; 
    padding-right: 10px; 
    font-weight: bold; 
    color: White;
}

.dialogButton:hover
{
    cursor: pointer;
    color: #f8ed37
}

.buttonIcon 
{
    width: 20px; 
    height: 20px; 
    display: inline; 
    vertical-align: middle;
    margin-right: 5px;
}

.emulatedAddButton
{
    float: left;
    background-color: #333;
    border: 3px solid white; 
    padding: 2px; 
    padding-left: 5px; 
    padding-right: 10px; 
    font-weight: bold; 
    color: White;
}

.emulatedAddButton:hover
{
    cursor: pointer;
    color: #f8ed37
}

.taskIcon
{
    width: 24px; 
    height: 24px; 
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.span80
{
    display: inline-block; 
    width: 80px;
}

.span120
{
    display: inline-block; 
    width: 120px;
}

#editForm 
{
    border: 1px solid lightgray; 
    margin-top: 10px; 
    padding: 5px; 
    font-size: 14px;
}

#taskSelect
{
    width: 450px; 
    height: 200px; 
    display: block;
    border: 1px solid lightgray;
}

#useTask 
{
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
}

#editFormButtons
{
    margin-top: 10px;
}

.helicopterDropDown 
{
    width: 250px;
}

#applicationTitle
{
    float: left;
    color: lightgray; 
    margin-top: 29px; 
    margin-left: 30px; 
    font-size: 26px;
}

#totalDailyPercentageDiv 
{
    float: right; 
    border: 3px solid white; 
    padding: 5px;
}

.noiseLevelNormal 
{
    background-color: greenyellow;
}

.noiseLevelWarning
{
    background-color: yellow; 
}

.noiseLevelCritical
{
    background-color: red; 
}

#totalDailyText 
{
    font-weight: bold;
}

#totalDailyPercentage 
{
    margin-left: 5px; 
    font-size: 2em; 
    font-weight: bold;
}

.separatorDiv 
{
    height: 2px; 
    width: 95%; 
    background-color: grey; 
    margin-left: auto; 
    margin-right: auto; 
    margin-bottom: 10px;
}

.removeTaskConfirmDialog

/*<p style="color: #f8ed37">Hoover style</p>
<p style="color: #ff26a4">Pink border color</p>*/