@using NoiseCalculator.Domain.Entities
@model IEnumerable<Task>

<script type="text/javascript">
    $(document).ready(function () {
        $("#taskFormCloseButton").click(function () {
            var theDiv = $(this).closest("div");
            theDiv.dialog('close');
        });
    });
</script>

<span style="font-size: larger; font-weight: bold;">Add Task</span>
    
<form method="POST" action="@Url.Action("Index")">
    <select size="8" style="width: 200px; height: 200px; display: block;" >
        @foreach (Task task in Model)
        {
            <option value="@task.Id">@task.Title</option>
        }
    </select>
    
    <div id="editForm" style="border: 1px solid grey; margin-top: 20px; padding: 5px;">
        <p>
            <label for="Title" class="label-130px">Task</label>
            <span id="Title">: Angle grinding</span>
        </p>
        
        <p>
            <label for="Role" class="label-130px">Role</label>
            <span id="Role">: Operator</span>
        </p>
        
        <p>
            <label class="label-130px">Noise Measured</label>
            :
            <input type="radio" name="group1" value="false" checked="true" id="noiseMeasuredNo" />
            <label for="noiseMeasuredNo">No</label>
            <input type="radio" name="group1" value="true" id="noiseMeasuredYes" />
            <label for="noiseMeasuredYes">Yes</label>
        </p>
        
        <p>
            <label class="label-130px"></label>
            :
            <span>109 dDB</span>
            <span>
                <input type="text" style="width: 20px;" />
                dBA
            </span>
        </p>
        
        <p>
            <label class="label-130px">Amount</label>
            :
            <input type="radio" name="group2" value="worktime" checked="true" id="workTimeRadio" />
            <label for="workTimeRadio">Work Time</label>
            <input type="radio" name="group2" value="percent" id="percentRadio" />
            <label for="percentRadio">Percent</label>
        </p>

        <p>
            <label class="label-130px"></label>
            <span>
                :
                <input type="text" style="width: 20px;" />
                t
                <input type="text" style="width: 20px;" />
                min
            </span>
            
            <span>
                <input type="text" style="width: 20px;" />
                %
            </span>
        </p>

    </div>
    
    <div id="addButton" class="emulatedAddButton" style="float: left;">
        <img src="../../Content/add.png" style="width: 20px; height: 20px; float: left;" />
        <span style="margin-left: 10px; font-weight: bold; color: White;">Add Task</span>
        <br clear="all" />
    </div>

    <input id="taskFormCloseButton" type="button" value="Close" style="margin-left: 100px;" />

</form>