@using NoiseCalculator.Domain.Entities
@model IEnumerable<Task>

<script type="text/javascript">
    $(document).ready(function () {
        $("#taskFormCloseButton").click(function () {
            var theDiv = $(this).closest("div");
            theDiv.dialog('close');
        });
    });
</script>
    
<form method="POST" action="@Url.Action("Index")">
    <p>
        <label for="Title" class="label-140px">Task</label>
        <span id="Title">: Angle grinding</span>
    </p>
        
    <p>
        <label for="Role" class="label-140px">Role</label>
        <span id="Role">: Operator</span>
    </p>
        
    <p style="margin-bottom: 2px; margin-top: 15px;">
        <label class="label-140px">Noise Measured</label>
        :
        <span class="span80">
            <input type="radio" name="group1" value="false" checked="true" id="noiseMeasuredNo" />
            <label for="noiseMeasuredNo">No</label>
        </span>
            
        <span class="span80">
            <input type="radio" name="group1" value="true" id="noiseMeasuredYes" />
            <label for="noiseMeasuredYes">Yes</label>
        </span>
    </p>
        
    <p>
        <label class="label-140px"></label>
        <span class="span80" style="margin-left: 8px;">109 dDB</span>
        <span  class="span80">
            <input type="text" style="width: 20px; height: 13px;" />
            dBA
        </span>
    </p>
        
    <p style="margin-top: 10px;">
        <label class="label-140px">Amount: Operator</label>
        :
        <span class="span120">
            <input type="radio" name="group2" value="worktime" checked="true" id="workTimeRadio" />
            <label for="workTimeRadio">Work Time</label>
        </span>
            
        <span class="span120">
            <input type="radio" name="group2" value="percent" id="percentRadio" />
            <label for="percentRadio">Percent</label>
        </span>
    </p>

    <p>
        <label class="label-140px"></label>
        <span class="span120" style="margin-left: 8px;">
            <input type="text" style="width: 20px; height: 13px;" />
            t
            <input type="text" style="width: 20px; height: 13px;" />
            min
        </span>
            
        <span class="span120">
            <input type="text" style="width: 20px; height: 13px;" />
            %
        </span>
    </p>
        
    <p>
        <label for="AmountAssistant" class="label-140px">Amount: Assistant</label>
        <span id="AmountAssistant">: 2 t 40 min </span>
    </p>
    
    <div id="addButton" class="emulatedAddButton" style="float: left;">
        <img src="../../Content/add.png" style="width: 20px; height: 20px; float: left;" />
        <span style="margin-left: 10px; font-weight: bold; color: White;">Add Task</span>
        <br clear="all" />
    </div>

    <input id="taskFormCloseButton" type="button" value="Close" style="margin-left: 100px;" />

</form>