@using NoiseCalculator.Domain.Entities
@model Task

<script type="text/javascript">
    $(document).ready(function () {
        $("#taskFormCloseButton").click(function () {
            var theDiv = $(this).closest("div");
            theDiv.dialog('close');
        });
    });
</script>
    
<form method="POST" action="@Url.Action("Index")">
    
    <style>
        .helicopterDropDown 
        {
            width: 150px;
        }
        
    </style>

    <p>
        <label for="Title" class="label-130px">Task</label>
        <span id="Title">: @Model.Title</span>
    </p>
        
    <p>
        <label for="Role" class="label-130px">Role</label>
        <span id="Role">: @Model.Role</span>
    </p>
        
    <p style="margin-top: 15px;">
        <label for="Helicopter" class="label-130px">Helicopter</label>
        :
        <select id="Helicopter" class="helicopterDropDown">
            <option>EC225</option>
            <option>Helicopter 2</option>
            <option>Helicopter 3</option>
        </select>
    </p>
        
    <p>
        <label for="NoiseProtection" class="label-130px">Noise Protection</label>
        :
        <select id="NoiseProtection" class="helicopterDropDown">
            <option>QuietPro</option>
            <option>Double</option>
        </select>
    </p>
        
    <p>
        <label for="WorkInterval" class="label-130px">Work Interval</label>
        :
        <select id="WorkInterval" class="helicopterDropDown">
            <option>4-6 min</option>
            <option>7-9 min</option>
            <option>10-16 min</option>
        </select>
    </p>
    
    <div id="addButton" class="emulatedAddButton" style="float: left;">
        <img src="../../Content/add.png" style="width: 20px; height: 20px; float: left;" />
        <span style="margin-left: 10px; font-weight: bold; color: White;">Add Task</span>
        <br clear="all" />
    </div>

    <input id="taskFormCloseButton" type="button" value="Close" style="margin-left: 100px;" />

</form>