@using NoiseCalculator.UI.Web.Areas.Admin.Resources
@model NoiseCalculator.UI.Web.Areas.Admin.ViewModels.GenericTask.TaskViewModel

<form id="adminTranslationForm" action="@Url.Action("Create")" method="POST" title="@AdminResources.DialogTitleCreateTask">
    @Html.Partial("_TaskForm", Model)
</form>