@model NoiseCalculator.UI.Web.Areas.Admin.ViewModels.GenericTask.TaskViewModel

<form id="adminTranslationForm" action="@Url.Action("Edit")" method="POST" style="margin-top: 10px;">
    @Html.Partial("_TaskForm", Model)
</form>