@model NoiseCalculator.UI.Web.ViewModels.HelideckViewModel

<form method="POST" action="@Url.Action("AddTaskHelideck")" id="editForm">
    <input type="hidden" id="TaskId" value="@Model.TaskId" name="TaskId" />
    
    <p>
        <label for="Title" class="label-130px">Task</label>
        <span id="Title">: @Model.Title</span>
    </p>
        
    <p>
        <label for="Role" class="label-130px">Role</label>
        <span id="Role">: @Model.Role</span>
    </p>
        
    <p style="margin-top: 15px;">
        <label for="HelicopterId" class="label-130px">Helicopter</label>
        :
        <select id="HelicopterId" class="helicopterDropDown">
            <option value="1" selected="selected">EC225</option>
            <option value="2">Helicopter 2</option>
            <option value="3">Helicopter 3</option>
        </select>
    </p>
        
    <p>
        <label for="NoiseProtectionId" class="label-130px">Noise Protection</label>
        :
        <select id="NoiseProtectionId" class="helicopterDropDown">
            <option value="1" selected="selected">QuietPro</option>
            <option value="2">Double</option>
        </select>
    </p>
        
    <p>
        <label for="WorkIntervalId" class="label-130px">Work Interval</label>
        :
        <select id="WorkIntervalId" class="helicopterDropDown">
            <option value="1" selected="selected">4-6 min</option>
            <option value="2">7-9 min</option>
            <option value="3">10-16 min</option>
        </select>
    </p>

</form>

<div id="editFormButtons">
    <div id="addButton" class="emulatedAddButton" style="float: left;">
        <img src="../../Content/add.png" style="width: 20px; height: 20px; float: left;" />
        <span style="margin-left: 10px; font-weight: bold; color: White;">Add Task</span>
        <br clear="all" />
    </div>

    <input id="taskFormCloseButton" type="button" value="Close" style="margin-left: 100px;" />
</div>