@using NoiseCalculator.Domain.Entities
@model IEnumerable<Task>

<span style="font-size: larger; font-weight: bold;">Add Task</span>

<select id="taskSelect" size="8">
    @foreach (Task task in Model)
    {
        <option value="@task.Id">@task.Title, (@task.Role.Title)</option>
    }
</select>

@*<input type="button" id="useTask" value="Use" />*@
<div id="useTask" class="emulatedAddButton">
    <img src="@Url.Content("~/Content/arrow_down.png")" class="buttonIcon" />
    <span class="buttonText">Use</span>
</div>

<br clear="all" />
    
<div id="taskForm">
    <h2>Select a task</h2>
</div>