@using NoiseCalculator.Domain.Entities
@model IEnumerable<Task>

<span style="font-size: larger; font-weight: bold;">Add Task</span>

<input type="hidden" id="formType" />

<select id="taskSelect" size="8" style="width: 500px;">
    @foreach (Task task in Model)
    {
        <option value="@task.Id">@task.Title</option>
    }
</select>

<input type="button" id="useTask" value="Use Task" />

<br clear="all" />
    
<div id="taskForm"></div>