@using NoiseCalculator.Domain.Entities
@model Task

<script type="text/javascript">
    $(document).ready(function () {
        $("#taskFormCloseButton").click(function () {
            var theDiv = $(this).closest("div");
            theDiv.dialog('close');
        });

        $('#addButton').click(function (event) {
            event.preventDefault();

            var myEditForm = $('#editForm');
            var formData = {
                TaskId: $("#TaskId").val(),
                HelicopterIdSelected: $("#HelicopterIdSelected").val(),
                NoiseProtectionIdSelected: $("#NoiseProtectionIdSelected").val(),
                WorkIntervalIdSelected: $("#WorkIntervalIdSelected").val()
            };

            $.ajax({
                url: myEditForm.attr('action'),
                type: myEditForm.attr('method'),
                data: JSON.stringify(formData),
                contentType: "application/json",
                dataType: "html",
                /*error: function (jqXHR) {
                alert(jqXHR.statusText);
                alert(jqXHR.responseText);
                },*/
                success: function (jqXHR) {
                    /*var div = $("<div>").hide().html(jqXHR);*/
                    var div = $("<div>").replaceWith(jqXHR).hide();
                    $("#taskList").append(div);
                    div.fadeIn('slow');
                }
            });
        });
    });
</script>

<form method="POST" action="@Url.Action("AddTaskHelideck")" id="editForm">
    <input type="hidden" id="TaskId" value="@Model.Id" name="TaskId" />
    
    <p>
        <label for="Title" class="label-130px">Task</label>
        <span id="Title">: @Model.Title</span>
    </p>
        
    <p>
        <label for="Role" class="label-130px">Role</label>
        <span id="Role">: @Model.Role</span>
    </p>
        
    <p style="margin-top: 15px;">
        <label for="HelicopterIdSelected" class="label-130px">Helicopter</label>
        :
        <select id="HelicopterIdSelected" name="HelicopterIdSelected" class="helicopterDropDown">
            <option value="1" selected="selected">EC225</option>
            <option value="2">Helicopter 2</option>
            <option value="3">Helicopter 3</option>
        </select>
    </p>
        
    <p>
        <label for="NoiseProtectionIdSelected" class="label-130px">Noise Protection</label>
        :
        <select id="NoiseProtectionIdSelected" name="NoiseProtectionIdSelected" class="helicopterDropDown">
            <option value="1" selected="selected">QuietPro</option>
            <option value="2">Double</option>
        </select>
    </p>
        
    <p>
        <label for="WorkIntervalIdSelected" class="label-130px">Work Interval</label>
        :
        <select id="WorkIntervalIdSelected" name="WorkIntervalIdSelected" class="helicopterDropDown">
            <option value="1" selected="selected">4-6 min</option>
            <option value="2">7-9 min</option>
            <option value="3">10-16 min</option>
        </select>
    </p>

    <div id="addButton" class="emulatedAddButton" style="float: left;">
        <img src="../../Content/add.png" style="width: 20px; height: 20px; float: left;" />
        <span style="margin-left: 10px; font-weight: bold; color: White;">Add Task</span>
        <br clear="all" />
    </div>

    <input id="taskFormCloseButton" type="button" value="Close" style="margin-left: 100px;" />

</form>