@using NoiseCalculator.Domain.Entities
@model IEnumerable<NoiseCalculator.Domain.Entities.SelectedTask> 
@{
    ViewBag.Title = "My Tasks";
}

<script src="../../Scripts/jquery-ui-1.8.16.min.js" type="text/javascript"></script>
<link href="../../Content/themes/base/jquery.ui.all.css" rel="stylesheet" type="text/css" />

<script type="text/javascript">
    var addTaskUrl = "@Url.Action("AddTask")";
    var getTaskFormUrl = "@Url.Action("GetFormForTask")";
</script>

<script src="../../Scripts/Tasks.js" type="text/javascript"></script>

<h2 class="tasklistHeading">My Tasks - Total noise dosage close to the allowed limit</h2>

<div class="separatorDiv"></div>

<div id="taskList" style="min-height: 40px;">
    @foreach (SelectedTask selectedTask in Model)
    {
        @Html.Partial("_SelectedTask", selectedTask);
    }
</div>
    
<div class="separatorDiv"></div>

@*ADD BUTTON*@
<div id="addTask" class="emulatedAddButton">
    <img src="@Url.Content("~/Content/add.png")" class="buttonIcon" />
    <span class="buttonText">Add Task</span>
</div>

<div id="totalDailyPercentageDiv">
    <span id="totalDailyText">Total Daily Dosage: </span>
    <span id="totalDailyPercentage">40%</span>
</div>
    
<br clear="all" />

<div id="taskPopup" style="display: none"></div>