<?xml version="1.0" encoding="utf-8"?>
<!--

This file is used by the publish/package process of your Web project. You can customize the behavior of this process

by customizing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121.

-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>FileSystem</WebPublishMethod>
    <LaunchASiteUrlAfterPublish>False</LaunchASiteUrlAfterPublish>
    <SiteUrlToLaunchAfterPublish />
    <publishUrl>C:\Publish</publishUrl>
    <DeleteExistingFiles>True</DeleteExistingFiles>
  </PropertyGroup>
  <ItemGroup>
    <File Include="bin/Castle.Core.dll">
      <publishTime>03/12/2012 11:03:17</publishTime>
    </File>
    <File Include="bin/Castle.Core.xml">
      <publishTime>03/12/2012 11:03:17</publishTime>
    </File>
    <File Include="bin/FluentNHibernate.dll">
      <publishTime>03/12/2012 11:03:17</publishTime>
    </File>
    <File Include="bin/FluentNHibernate.pdb">
      <publishTime>03/12/2012 11:03:17</publishTime>
    </File>
    <File Include="bin/Gios Pdf.NET.dll">
      <publishTime>03/12/2012 16:46:30</publishTime>
    </File>
    <File Include="bin/Gios Pdf.NET.pdb">
      <publishTime>03/12/2012 16:46:30</publishTime>
    </File>
    <File Include="bin/HibernatingRhinos.Profiler.Appender.v4.0.dll">
      <publishTime>12/09/2011 16:32:02</publishTime>
    </File>
    <File Include="bin/ICSharpCode.SharpZipLib.dll">
      <publishTime>03/12/2012 16:46:30</publishTime>
    </File>
    <File Include="bin/Iesi.Collections.dll">
      <publishTime>03/12/2012 11:03:17</publishTime>
    </File>
    <File Include="bin/Iesi.Collections.pdb">
      <publishTime>03/12/2012 11:03:17</publishTime>
    </File>
    <File Include="bin/Microsoft.Web.Infrastructure.dll">
      <publishTime>03/12/2012 11:03:17</publishTime>
    </File>
    <File Include="bin/nb-NO/NoiseCalculator.Infrastructure.resources.dll">
      <publishTime>03/16/2012 11:52:07</publishTime>
    </File>
    <File Include="bin/nb-NO/NoiseCalculator.UI.Web.resources.dll">
      <publishTime>03/16/2012 11:52:09</publishTime>
    </File>
    <File Include="bin/NHibernate.ByteCode.Castle.dll">
      <publishTime>03/12/2012 11:03:18</publishTime>
    </File>
    <File Include="bin/NHibernate.ByteCode.Castle.xml">
      <publishTime>03/12/2012 11:03:18</publishTime>
    </File>
    <File Include="bin/NHibernate.dll">
      <publishTime>03/12/2012 11:03:18</publishTime>
    </File>
    <File Include="bin/Ninject.dll">
      <publishTime>03/12/2012 11:03:18</publishTime>
    </File>
    <File Include="bin/Ninject.pdb">
      <publishTime>03/12/2012 11:03:18</publishTime>
    </File>
    <File Include="bin/Ninject.Web.Mvc.dll">
      <publishTime>03/12/2012 11:03:18</publishTime>
    </File>
    <File Include="bin/Ninject.Web.Mvc.pdb">
      <publishTime>03/12/2012 11:03:18</publishTime>
    </File>
    <File Include="bin/Ninject.Web.Mvc.xml">
      <publishTime>03/12/2012 11:03:18</publishTime>
    </File>
    <File Include="bin/Ninject.xml">
      <publishTime>03/12/2012 11:03:18</publishTime>
    </File>
    <File Include="bin/NoiseCalculator.Domain.dll">
      <publishTime>03/16/2012 11:52:07</publishTime>
    </File>
    <File Include="bin/NoiseCalculator.Domain.pdb">
      <publishTime>03/16/2012 11:52:07</publishTime>
    </File>
    <File Include="bin/NoiseCalculator.Infrastructure.dll">
      <publishTime>03/16/2012 11:52:07</publishTime>
    </File>
    <File Include="bin/NoiseCalculator.Infrastructure.pdb">
      <publishTime>03/16/2012 11:52:07</publishTime>
    </File>
    <File Include="bin/NoiseCalculator.NinjectBootstrapper.dll">
      <publishTime>03/16/2012 11:52:08</publishTime>
    </File>
    <File Include="bin/NoiseCalculator.NinjectBootstrapper.pdb">
      <publishTime>03/16/2012 11:52:08</publishTime>
    </File>
    <File Include="bin/NoiseCalculator.UI.Web.dll">
      <publishTime>03/16/2012 11:52:09</publishTime>
    </File>
    <File Include="bin/NoiseCalculator.UI.Web.pdb">
      <publishTime>03/16/2012 11:52:09</publishTime>
    </File>
    <File Include="bin/WebActivator.dll">
      <publishTime>03/12/2012 11:03:20</publishTime>
    </File>
    <File Include="Content/add.png">
      <publishTime>03/12/2012 16:46:30</publishTime>
    </File>
    <File Include="Content/arrow_down.png">
      <publishTime>03/12/2012 16:46:30</publishTime>
    </File>
    <File Include="Content/bin_closed.png">
      <publishTime>03/12/2012 16:46:30</publishTime>
    </File>
    <File Include="Content/cancel.png">
      <publishTime>03/12/2012 16:46:30</publishTime>
    </File>
    <File Include="Content/gb.gif">
      <publishTime>03/12/2012 16:46:30</publishTime>
    </File>
    <File Include="Content/gb.png">
      <publishTime>03/12/2012 16:46:30</publishTime>
    </File>
    <File Include="Content/no.gif">
      <publishTime>03/12/2012 16:46:30</publishTime>
    </File>
    <File Include="Content/no.png">
      <publishTime>03/12/2012 16:46:30</publishTime>
    </File>
    <File Include="Content/page_edit.png">
      <publishTime>03/12/2012 16:46:30</publishTime>
    </File>
    <File Include="Content/printer.png">
      <publishTime>03/12/2012 16:46:30</publishTime>
    </File>
    <File Include="Content/Site.css">
      <publishTime>03/15/2012 14:24:38</publishTime>
    </File>
    <File Include="Content/Statoil_logo.gif">
      <publishTime>03/12/2012 16:46:30</publishTime>
    </File>
    <File Include="Content/themes/base/images/ui-bg_flat_0_aaaaaa_40x100.png">
      <publishTime>03/12/2012 16:46:30</publishTime>
    </File>
    <File Include="Content/themes/base/images/ui-bg_flat_75_ffffff_40x100.png">
      <publishTime>03/12/2012 16:46:30</publishTime>
    </File>
    <File Include="Content/themes/base/images/ui-bg_glass_55_fbf9ee_1x400.png">
      <publishTime>03/12/2012 16:46:30</publishTime>
    </File>
    <File Include="Content/themes/base/images/ui-bg_glass_65_ffffff_1x400.png">
      <publishTime>03/12/2012 16:46:30</publishTime>
    </File>
    <File Include="Content/themes/base/images/ui-bg_glass_75_dadada_1x400.png">
      <publishTime>03/12/2012 16:46:30</publishTime>
    </File>
    <File Include="Content/themes/base/images/ui-bg_glass_75_e6e6e6_1x400.png">
      <publishTime>03/12/2012 16:46:30</publishTime>
    </File>
    <File Include="Content/themes/base/images/ui-bg_glass_95_fef1ec_1x400.png">
      <publishTime>03/12/2012 16:46:30</publishTime>
    </File>
    <File Include="Content/themes/base/images/ui-bg_highlight-soft_75_cccccc_1x100.png">
      <publishTime>03/12/2012 16:46:30</publishTime>
    </File>
    <File Include="Content/themes/base/images/ui-icons_222222_256x240.png">
      <publishTime>03/12/2012 16:46:30</publishTime>
    </File>
    <File Include="Content/themes/base/images/ui-icons_2e83ff_256x240.png">
      <publishTime>03/12/2012 16:46:30</publishTime>
    </File>
    <File Include="Content/themes/base/images/ui-icons_454545_256x240.png">
      <publishTime>03/12/2012 16:46:30</publishTime>
    </File>
    <File Include="Content/themes/base/images/ui-icons_888888_256x240.png">
      <publishTime>03/12/2012 16:46:30</publishTime>
    </File>
    <File Include="Content/themes/base/images/ui-icons_cd0a0a_256x240.png">
      <publishTime>03/12/2012 16:46:30</publishTime>
    </File>
    <File Include="Content/themes/base/jquery-ui.css">
      <publishTime>03/12/2012 16:46:30</publishTime>
    </File>
    <File Include="Content/themes/base/jquery.ui.accordion.css">
      <publishTime>03/12/2012 16:46:30</publishTime>
    </File>
    <File Include="Content/themes/base/jquery.ui.all.css">
      <publishTime>03/12/2012 16:46:30</publishTime>
    </File>
    <File Include="Content/themes/base/jquery.ui.autocomplete.css">
      <publishTime>03/12/2012 16:46:30</publishTime>
    </File>
    <File Include="Content/themes/base/jquery.ui.base.css">
      <publishTime>03/12/2012 16:46:30</publishTime>
    </File>
    <File Include="Content/themes/base/jquery.ui.button.css">
      <publishTime>03/12/2012 16:46:30</publishTime>
    </File>
    <File Include="Content/themes/base/jquery.ui.core.css">
      <publishTime>03/12/2012 16:46:30</publishTime>
    </File>
    <File Include="Content/themes/base/jquery.ui.datepicker.css">
      <publishTime>03/12/2012 16:46:30</publishTime>
    </File>
    <File Include="Content/themes/base/jquery.ui.dialog.css">
      <publishTime>03/12/2012 16:46:30</publishTime>
    </File>
    <File Include="Content/themes/base/jquery.ui.progressbar.css">
      <publishTime>03/12/2012 16:46:30</publishTime>
    </File>
    <File Include="Content/themes/base/jquery.ui.resizable.css">
      <publishTime>03/12/2012 16:46:30</publishTime>
    </File>
    <File Include="Content/themes/base/jquery.ui.selectable.css">
      <publishTime>03/12/2012 16:46:30</publishTime>
    </File>
    <File Include="Content/themes/base/jquery.ui.slider.css">
      <publishTime>03/12/2012 16:46:30</publishTime>
    </File>
    <File Include="Content/themes/base/jquery.ui.tabs.css">
      <publishTime>03/12/2012 16:46:30</publishTime>
    </File>
    <File Include="Content/themes/base/jquery.ui.theme.css">
      <publishTime>03/12/2012 16:46:30</publishTime>
    </File>
    <File Include="Content/themes/base/minified/images/ui-bg_flat_0_aaaaaa_40x100.png">
      <publishTime>03/12/2012 16:46:30</publishTime>
    </File>
    <File Include="Content/themes/base/minified/images/ui-bg_flat_75_ffffff_40x100.png">
      <publishTime>03/12/2012 16:46:30</publishTime>
    </File>
    <File Include="Content/themes/base/minified/images/ui-bg_glass_55_fbf9ee_1x400.png">
      <publishTime>03/12/2012 16:46:30</publishTime>
    </File>
    <File Include="Content/themes/base/minified/images/ui-bg_glass_65_ffffff_1x400.png">
      <publishTime>03/12/2012 16:46:30</publishTime>
    </File>
    <File Include="Content/themes/base/minified/images/ui-bg_glass_75_dadada_1x400.png">
      <publishTime>03/12/2012 16:46:30</publishTime>
    </File>
    <File Include="Content/themes/base/minified/images/ui-bg_glass_75_e6e6e6_1x400.png">
      <publishTime>03/12/2012 16:46:30</publishTime>
    </File>
    <File Include="Content/themes/base/minified/images/ui-bg_glass_95_fef1ec_1x400.png">
      <publishTime>03/12/2012 16:46:30</publishTime>
    </File>
    <File Include="Content/themes/base/minified/images/ui-bg_highlight-soft_75_cccccc_1x100.png">
      <publishTime>03/12/2012 16:46:30</publishTime>
    </File>
    <File Include="Content/themes/base/minified/images/ui-icons_222222_256x240.png">
      <publishTime>03/12/2012 16:46:30</publishTime>
    </File>
    <File Include="Content/themes/base/minified/images/ui-icons_2e83ff_256x240.png">
      <publishTime>03/12/2012 16:46:30</publishTime>
    </File>
    <File Include="Content/themes/base/minified/images/ui-icons_454545_256x240.png">
      <publishTime>03/12/2012 16:46:30</publishTime>
    </File>
    <File Include="Content/themes/base/minified/images/ui-icons_888888_256x240.png">
      <publishTime>03/12/2012 16:46:30</publishTime>
    </File>
    <File Include="Content/themes/base/minified/images/ui-icons_cd0a0a_256x240.png">
      <publishTime>03/12/2012 16:46:30</publishTime>
    </File>
    <File Include="Content/themes/base/minified/jquery-ui.min.css">
      <publishTime>03/12/2012 16:46:30</publishTime>
    </File>
    <File Include="Content/themes/base/minified/jquery.ui.accordion.min.css">
      <publishTime>03/12/2012 16:46:30</publishTime>
    </File>
    <File Include="Content/themes/base/minified/jquery.ui.all.min.css">
      <publishTime>03/12/2012 16:46:30</publishTime>
    </File>
    <File Include="Content/themes/base/minified/jquery.ui.autocomplete.min.css">
      <publishTime>03/12/2012 16:46:30</publishTime>
    </File>
    <File Include="Content/themes/base/minified/jquery.ui.base.min.css">
      <publishTime>03/12/2012 16:46:30</publishTime>
    </File>
    <File Include="Content/themes/base/minified/jquery.ui.button.min.css">
      <publishTime>03/12/2012 16:46:30</publishTime>
    </File>
    <File Include="Content/themes/base/minified/jquery.ui.core.min.css">
      <publishTime>03/12/2012 16:46:30</publishTime>
    </File>
    <File Include="Content/themes/base/minified/jquery.ui.datepicker.min.css">
      <publishTime>03/12/2012 16:46:30</publishTime>
    </File>
    <File Include="Content/themes/base/minified/jquery.ui.dialog.min.css">
      <publishTime>03/12/2012 16:46:30</publishTime>
    </File>
    <File Include="Content/themes/base/minified/jquery.ui.progressbar.min.css">
      <publishTime>03/12/2012 16:46:30</publishTime>
    </File>
    <File Include="Content/themes/base/minified/jquery.ui.resizable.min.css">
      <publishTime>03/12/2012 16:46:30</publishTime>
    </File>
    <File Include="Content/themes/base/minified/jquery.ui.selectable.min.css">
      <publishTime>03/12/2012 16:46:30</publishTime>
    </File>
    <File Include="Content/themes/base/minified/jquery.ui.slider.min.css">
      <publishTime>03/12/2012 16:46:30</publishTime>
    </File>
    <File Include="Content/themes/base/minified/jquery.ui.tabs.min.css">
      <publishTime>03/12/2012 16:46:30</publishTime>
    </File>
    <File Include="Content/themes/base/minified/jquery.ui.theme.min.css">
      <publishTime>03/12/2012 16:46:30</publishTime>
    </File>
    <File Include="Global.asax">
      <publishTime>03/12/2012 16:46:30</publishTime>
    </File>
    <File Include="HelloObjectWorld.js">
      <publishTime>03/12/2012 16:46:30</publishTime>
    </File>
    <File Include="packages.config">
      <publishTime>03/12/2012 16:46:30</publishTime>
    </File>
    <File Include="README.jQuery.vsdoc.txt">
      <publishTime>03/12/2012 16:46:30</publishTime>
    </File>
    <File Include="Scripts/jquery-1.7.1-vsdoc.js">
      <publishTime>03/12/2012 16:46:30</publishTime>
    </File>
    <File Include="Scripts/jquery-1.7.1.js">
      <publishTime>03/12/2012 16:46:30</publishTime>
    </File>
    <File Include="Scripts/jquery-1.7.1.min.js">
      <publishTime>03/12/2012 16:46:30</publishTime>
    </File>
    <File Include="Scripts/jquery-ui-1.8.16.js">
      <publishTime>03/12/2012 16:46:30</publishTime>
    </File>
    <File Include="Scripts/jquery-ui-1.8.16.min.js">
      <publishTime>03/12/2012 16:46:30</publishTime>
    </File>
    <File Include="Scripts/jquery.cookie.js">
      <publishTime>03/12/2012 16:46:30</publishTime>
    </File>
    <File Include="Scripts/jquery.unobtrusive-ajax.js">
      <publishTime>03/12/2012 16:46:30</publishTime>
    </File>
    <File Include="Scripts/jquery.unobtrusive-ajax.min.js">
      <publishTime>03/12/2012 16:46:30</publishTime>
    </File>
    <File Include="Scripts/jquery.validate-vsdoc.js">
      <publishTime>03/12/2012 16:46:30</publishTime>
    </File>
    <File Include="Scripts/jquery.validate.js">
      <publishTime>03/12/2012 16:46:30</publishTime>
    </File>
    <File Include="Scripts/jquery.validate.min.js">
      <publishTime>03/12/2012 16:46:30</publishTime>
    </File>
    <File Include="Scripts/jquery.validate.unobtrusive.js">
      <publishTime>03/12/2012 16:46:30</publishTime>
    </File>
    <File Include="Scripts/jquery.validate.unobtrusive.min.js">
      <publishTime>03/12/2012 16:46:30</publishTime>
    </File>
    <File Include="Scripts/json2.js">
      <publishTime>03/12/2012 16:46:30</publishTime>
    </File>
    <File Include="Scripts/json2.min.js">
      <publishTime>03/12/2012 16:46:30</publishTime>
    </File>
    <File Include="Scripts/modernizr-2.0.6-development-only.js">
      <publishTime>03/12/2012 16:46:30</publishTime>
    </File>
    <File Include="Scripts/Tasks.js">
      <publishTime>03/14/2012 16:01:16</publishTime>
    </File>
    <File Include="Views/Helideck/_CreateHelideckTask.cshtml">
      <publishTime>03/12/2012 16:46:30</publishTime>
    </File>
    <File Include="Views/Helideck/_EditHelideckTask.cshtml">
      <publishTime>03/12/2012 16:46:30</publishTime>
    </File>
    <File Include="Views/Helideck/_TaskFormHelideck.cshtml">
      <publishTime>03/12/2012 16:46:30</publishTime>
    </File>
    <File Include="Views/Regular/_CreateRegularTask.cshtml">
      <publishTime>03/12/2012 16:46:30</publishTime>
    </File>
    <File Include="Views/Regular/_CreateRotationTask.cshtml">
      <publishTime>03/12/2012 16:46:30</publishTime>
    </File>
    <File Include="Views/Regular/_EditRegularTask.cshtml">
      <publishTime>03/12/2012 16:46:30</publishTime>
    </File>
    <File Include="Views/Regular/_SelectedTasksRotation.cshtml">
      <publishTime>03/12/2012 16:46:30</publishTime>
    </File>
    <File Include="Views/Regular/_TaskFormRegular.cshtml">
      <publishTime>03/12/2012 16:46:30</publishTime>
    </File>
    <File Include="Views/Shared/Error.cshtml">
      <publishTime>03/12/2012 16:46:30</publishTime>
    </File>
    <File Include="Views/Shared/_Layout.cshtml">
      <publishTime>03/16/2012 11:47:49</publishTime>
    </File>
    <File Include="Views/Shared/_RemoveTaskConfirmation.cshtml">
      <publishTime>03/15/2012 10:37:56</publishTime>
    </File>
    <File Include="Views/Shared/_SelectedTask.cshtml">
      <publishTime>03/14/2012 16:26:03</publishTime>
    </File>
    <File Include="Views/Shared/_ValidationErrorSummary.cshtml">
      <publishTime>03/12/2012 16:46:30</publishTime>
    </File>
    <File Include="Views/Task/Index.cshtml">
      <publishTime>03/16/2012 11:49:08</publishTime>
    </File>
    <File Include="Views/Task/_TaskDialog.cshtml">
      <publishTime>03/12/2012 16:46:30</publishTime>
    </File>
    <File Include="Views/Web.config">
      <publishTime>03/12/2012 16:46:30</publishTime>
    </File>
    <File Include="Views/_ViewStart.cshtml">
      <publishTime>03/12/2012 16:46:30</publishTime>
    </File>
    <File Include="Web.config">
      <publishTime>03/16/2012 11:54:28</publishTime>
    </File>
  </ItemGroup>
</Project>